In [12]:
import pandas as pd
df = pd.read_csv('restaurant_info.csv', sep=',')
len(df)

109

In [6]:
df.head()
df = df[df['pricerange'] == 'moderate']
df

,restaurantname,pricerange,area,food,phone,addr,postcode
0,saint johns chop house,moderate,west,british,01223 353110,21 - 24 northampton street,c.b 3
1,restaurant alimentum,moderate,north,modern european,01223 413000,152 - 154 hills road,c.b 2
2,pizza hut cherry hinton,moderate,south,italian,01223 323737,g4 cambridge leisure park clifton way cherry h...,c.b 1
3,the gardenia,moderate,west,romanian,01223 356354,2 rose crescent city centre,c.b 2
4,loch fyne,moderate,centre,seafood,01223 362433,the little rose 37 trumpington street,c.b 2
12,rajmahal,moderate,east,indian,01223 244955,7 barnwell road fen ditton,c.b 5
13,pizza hut fen ditton,moderate,east,italian,01223 323737,cambridge retail park newmarket road fen ditton,c.b 5
22,cotto,moderate,centre,british,01223 302010,183 east road city centre,c.b 1
25,the cow pizza kitchen and bar,moderate,centre,moroccan,01223 308871,corn exchange street,c.b 2
29,golden wok,moderate,north,asian oriental,01223 350688,191 histon road chesterton,c.b 4
30,meghna,moderate,north,indian,01223 727410,205 victoria road chesterton,c.b 4
31,the nirala,moderate,north,indian,01223 360966,7 milton road chesterton,c.b 4
33,efes restaurant,moderate,centre,swiss,01223 500005,king street city centre,c.b 1
46,prezzo,moderate,west,italian,01799 521260,21 - 24 northampton road,c.b 3
47,galleria,moderate,centre,european,01223 362054,33 bridge street,c.b 2
48,bloomsbury restaurant,moderate,north,international,0871 942 9180,crowne plaza hotel 20 downing street,c.b 2
50,the varsity restaurant,moderate,centre,international,01223 356060,35 saint andrews street city centre,c.b 2
51,de luca cucina and bar,moderate,centre,modern european,01223 356666,83 regent street,c.b 2
58,tandoori palace,moderate,north,indian,01223 506055,68 histon road chesterton,c.b 4
59,yippee noodle bar,moderate,centre,asian oriental,01223 518111,40428 king street city centre,c.b 1
62,shanghai family restaurant,moderate,east,chinese,01223 301761,39 burleigh street city centre,NaN
70,lan hong house,moderate,centre,thai,01223 350420,12 norfolk street city centre,NaN
71,la tasca,moderate,centre,spanish,01223 464630,14 -16 bridge street,c.b 2
75,restaurant one seven,moderate,north,british,01223 337766,de vere university arms regent street city centre,NaN
77,anatolia,moderate,centre,turkish,01223 362372,30 bridge street city centre,c.b 2
78,clowns cafe,moderate,centre,bistro,01223 355711,NaN,c.b 1
85,curry queen,moderate,NaN,indian,NaN,106 mill road city centre,c.b 1
87,the oak bistro,moderate,centre,british,01223 323361,6 lensfield road,NaN
88,riverside brasserie,moderate,centre,gastropub,01223 259988,doubletree by hilton cambridge granta place mi...,NaN
89,the copper kettle,moderate,east,british,01223 365068,4 kings parade city centre,c.b 2
93,ali baba,moderate,centre,lebanese,01462 432565,59 hills road city centre,c.b 2
96,hotel du vin and bistro,moderate,centre,european,01223 227330,15 - 19 trumpington street,c.b 2
99,jinling noodle bar,moderate,centre,cuban,01223 566188,11 peas hill city centre,c.b 2
100,graffiti,moderate,north,indian,01223 277977,hotel felix whitehouse lane huntingdon road,c.b 3
106,pizza express fen ditton,moderate,centre,european,NaN,jesus lane fen ditton,NaN
107,sesame restaurant and bar,moderate,NaN,turkish,NaN,NaN,NaN

In [5]:
food_types = []
for food_type in df['food']:
    if food_types not in food_types:
        food_types.append(food_type)
food_types

['british',
 'modern european',
 'italian',
 'romanian',
 'seafood',
 'chinese',
 'steakhouse',
 'asian oriental',
 'french',
 'chinese',
 'portuguese',
 'chinese',
 'indian',
 'italian',
 'chinese',
 'spanish',
 'british',
 'asian oriental',
 'european',
 'vietnamese',
 'korean',
 'french',
 'british',
 'thai',
 'italian',
 'moroccan',
 'european',
 'asian oriental',
 'indian',
 'asian oriental',
 'indian',
 'indian',
 'european',
 'swiss',
 'european',
 'italian',
 'fusion',
 'italian',
 'gastropub',
 'tuscan',
 'thai',
 'european',
 'korean',
 'chinese',
 'modern european',
 'portuguese',
 'italian',
 'european',
 'international',
 'chinese',
 'international',
 'modern european',
 'traditional',
 'mediterranean',
 'chinese',
 'indian',
 'seafood',
 'portuguese',
 'indian',
 'asian oriental',
 'british',
 'indian',
 'chinese',
 'indian',
 'indian',
 'asian oriental',
 'polynesian',
 'african',
 'indian',
 'chinese',
 'thai',
 'spanish',
 'gastropub',
 'spanish',
 'gastropub',
 'british',
 'british',
 'turkish',
 'bistro',
 'indian',
 'british',
 'north american',
 'mediterranean',
 'turkish',
 'australasian',
 'indian',
 'persian',
 'british',
 'gastropub',
 'british',
 'italian',
 'jamaican',
 'indian',
 'lebanese',
 'indian',
 'british',
 'european',
 'modern european',
 'spanish',
 'cuban',
 'indian',
 'japanese',
 'italian',
 'seafood',
 'mediterranean',
 'catalan',
 'european',
 'turkish',
 'thai']

In [7]:
locations = []
for food_type in df['area']:
    if food_type not in locations:
        locations.append(food_type)
locations

['west', 'north', 'south', 'centre', 'east', nan]

In [74]:
#lookup function to find restaurants fitting the criteria in the .csv file
#attributes should be provided as string
#@return is a numpy array
def findRestaurants(area='X',price='X',food='X', path='restaurant_info.csv'):
    restaurants = pd.read_csv(path)
    if area != 'X':
        restaurants = restaurants[restaurants['area'] == area]
    if price != 'X':
        restaurants = restaurants[restaurants['pricerange'] == price]
    if food != 'X':
        restaurants = restaurants[restaurants['food'] == food]
    return restaurants.values

In [91]:
import random
#function to randomly choose a restaurant
#@parameters:
#@restaurants: numpy array that contains restaurants from which one is choosen randomly
#@alreadyUsedRestaurants: numpy array, sublist of restaurant with previously suggest restaurants
#@return: a numpy array containing a restaurant from @restaurants | template: [name,area,pricerange,food,phone,addr,postcode]
def chooseRestaurant(restaurants, alreadyUsedRestaurants):
    if len(restaurants) == 0:
        return None
    if len(restaurants) == len(alreadyUsedRestaurants):
        alreadyUsedRestraunts = []

    restaurants = [i for i in restaurants if i[0] not in alreadyUsedRestraunts[:,0]]
    return restaurants[random.randint(0,len(restaurants) -1)]

In [94]:
#state transistion function to change the state
#
def transition(currentState, utterance):

array(['rice boat', 'expensive', 'north', 'indian', '01223 302800',
       '37 newnham road newnham', nan], dtype=object)

In [87]:
type(more)
more[1][0]

'saigon city'

In [84]:
more

array([['restaurant alimentum', 'moderate', 'north', 'modern european',
        '01223 413000', '152 - 154 hills road', 'c.b 2'],
       ['saigon city', 'expensive', 'north', 'asian oriental',
        '01223 356555', '169 high street chesterton chesterton', 'c.b 4'],
       ['restaurant two two', 'expensive', 'north', 'french',
        '01223 351880', '22 chesterton road chesterton', 'c.b 4'],
       ['the hotpot', 'expensive', 'north', 'chinese', '01223 366552',
        '66 chesterton road chesterton', 'c.b 4'],
       ['golden wok', 'moderate', 'north', 'asian oriental',
        '01223 350688', '191 histon road chesterton', 'c.b 4'],
       ['meghna', 'moderate', 'north', 'indian', '01223 727410',
        '205 victoria road chesterton', 'c.b 4'],
       ['the nirala', 'moderate', 'north', 'indian', '01223 360966',
        '7 milton road chesterton', 'c.b 4'],
       ['city stop restaurant', 'expensive', 'north', 'tuscan',
        '01223 363270',
        'cambridge city football club milton road chesterton', nan],
       ['bloomsbury restaurant', 'moderate', 'north', 'international',
        '0871 942 9180', 'crowne plaza hotel 20 downing street', 'c.b 2'],
       ['da vinci pizzeria', 'cheap', 'north', 'traditional',
        '01223 351707', '20 milton road chesterton', 'c.b 4'],
       ['royal spice', 'cheap', 'north', 'indian', '01733 553355',
        'victoria avenue chesterton', 'c.b 4'],
       ['tandoori palace', 'moderate', 'north', 'indian', '01223 506055',
        '68 histon road chesterton', 'c.b 4'],
       ['restaurant one seven', 'moderate', 'north', 'british',
        '01223 337766',
        'de vere university arms regent street city centre', nan],
       ['hakka', 'cheap', 'north', 'persian', '01223 568988',
        'milton road chesterton', 'c.b 4'],
       ['rice boat', 'expensive', 'north', 'indian', '01223 302800',
        '37 newnham road newnham', nan],
       ['graffiti', 'moderate', 'north', 'indian', '01223 277977',
        'hotel felix whitehouse lane huntingdon road', 'c.b 3']],
      dtype=object)

In [88]:
less[:,0]

array(['restaurant alimentum', 'golden wok', 'meghna', 'the nirala',
       'bloomsbury restaurant', 'tandoori palace', 'restaurant one seven',
       'graffiti'], dtype=object)